

.borderRounded5{
    border-radius: 5px;
}

.borderRounded10{
    border-radius: 10px;
}

.hide{
    display: none;
}

.block-show{
    display: block;
}

.flex-show{
    display: flex;
}

.leftAlign{
    width: 200px;;
    margin: 0 auto;
}

.margin10{
    margin:10px;
}

.margin5{
    margin:5px;
}

.margin0{
    margin:0;
}

.marginBottom20{
    margin-bottom: 20px;
}

.noTextDecoration{
    text-decoration: none;
}

.textCenter{
    text-align: center;
}
